projects/hm-plugins/ips/src/main/wsdl/IIPSFTDI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IIPSFTDIservice" targetNamespace="http://localhost/" xmlns:tns="http://localhost/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:UIPSModuleTypes">
  <types>
    <xs:schema targetNamespace="urn:UIPSModuleTypes" xmlns="urn:UIPSModuleTypes">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xs:import namespace="http://schemas.xmlsoap.org/soap/"/>
      <xs:complexType name="TFTDIDevices">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="ns1:TFTDIDevice[]"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TFTDIDevice">
        <xs:sequence>
          <xs:element name="SerialNumber" type="xs:string"/>
          <xs:element name="Description" type="xs:string"/>
          <xs:element name="InUse" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TIDHeader">
        <xs:sequence>
          <xs:element name="ID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="SetBaudRate0Request">
    <part name="BaudRate" type="xs:string"/>
  </message>
  <message name="SetBaudRate0Response"/>
  <message name="SetBaudRate0headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetBaudRate0headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetStopBits1Request">
    <part name="StopBits" type="xs:string"/>
  </message>
  <message name="SetStopBits1Response"/>
  <message name="SetStopBits1headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetStopBits1headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetDataBits2Request">
    <part name="DataBits" type="xs:string"/>
  </message>
  <message name="SetDataBits2Response"/>
  <message name="SetDataBits2headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetDataBits2headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetParity3Request">
    <part name="Parity" type="xs:string"/>
  </message>
  <message name="SetParity3Response"/>
  <message name="SetParity3headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetParity3headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetBaudRate4Request"/>
  <message name="GetBaudRate4Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetBaudRate4headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetBaudRate4headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetStopBits5Request"/>
  <message name="GetStopBits5Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetStopBits5headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetStopBits5headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDataBits6Request"/>
  <message name="GetDataBits6Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetDataBits6headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDataBits6headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetParity7Request"/>
  <message name="GetParity7Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetParity7headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetParity7headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetDTR8Request">
    <part name="OnOff" type="xs:boolean"/>
  </message>
  <message name="SetDTR8Response"/>
  <message name="SetDTR8headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetDTR8headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetRTS9Request">
    <part name="OnOff" type="xs:boolean"/>
  </message>
  <message name="SetRTS9Response"/>
  <message name="SetRTS9headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetRTS9headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetBreak10Request">
    <part name="OnOff" type="xs:boolean"/>
  </message>
  <message name="SetBreak10Response"/>
  <message name="SetBreak10headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetBreak10headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDTR11Request"/>
  <message name="GetDTR11Response">
    <part name="return" type="xs:boolean"/>
  </message>
  <message name="GetDTR11headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDTR11headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetRTS12Request"/>
  <message name="GetRTS12Response">
    <part name="return" type="xs:boolean"/>
  </message>
  <message name="GetRTS12headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetRTS12headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetOpen13Request">
    <part name="Open" type="xs:boolean"/>
  </message>
  <message name="SetOpen13Response"/>
  <message name="SetOpen13headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetOpen13headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetPort14Request">
    <part name="Port" type="xs:string"/>
  </message>
  <message name="SetPort14Response"/>
  <message name="SetPort14headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetPort14headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetOpen15Request"/>
  <message name="GetOpen15Response">
    <part name="return" type="xs:boolean"/>
  </message>
  <message name="GetOpen15headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetOpen15headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetPort16Request"/>
  <message name="GetPort16Response">
    <part name="return" type="xs:string"/>
  </message>
  <message name="GetPort16headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetPort16headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDevices17Request"/>
  <message name="GetDevices17Response">
    <part name="return" type="ns1:TFTDIDevices"/>
  </message>
  <message name="GetDevices17headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetDevices17headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SendText18Request">
    <part name="Text" type="xs:string"/>
  </message>
  <message name="SendText18Response"/>
  <message name="SendText18headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SendText18headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <portType name="IIPSFTDI">
    <operation name="SetBaudRate">
      <input message="tns:SetBaudRate0Request"/>
      <output message="tns:SetBaudRate0Response"/>
    </operation>
    <operation name="SetStopBits">
      <input message="tns:SetStopBits1Request"/>
      <output message="tns:SetStopBits1Response"/>
    </operation>
    <operation name="SetDataBits">
      <input message="tns:SetDataBits2Request"/>
      <output message="tns:SetDataBits2Response"/>
    </operation>
    <operation name="SetParity">
      <input message="tns:SetParity3Request"/>
      <output message="tns:SetParity3Response"/>
    </operation>
    <operation name="GetBaudRate">
      <input message="tns:GetBaudRate4Request"/>
      <output message="tns:GetBaudRate4Response"/>
    </operation>
    <operation name="GetStopBits">
      <input message="tns:GetStopBits5Request"/>
      <output message="tns:GetStopBits5Response"/>
    </operation>
    <operation name="GetDataBits">
      <input message="tns:GetDataBits6Request"/>
      <output message="tns:GetDataBits6Response"/>
    </operation>
    <operation name="GetParity">
      <input message="tns:GetParity7Request"/>
      <output message="tns:GetParity7Response"/>
    </operation>
    <operation name="SetDTR">
      <input message="tns:SetDTR8Request"/>
      <output message="tns:SetDTR8Response"/>
    </operation>
    <operation name="SetRTS">
      <input message="tns:SetRTS9Request"/>
      <output message="tns:SetRTS9Response"/>
    </operation>
    <operation name="SetBreak">
      <input message="tns:SetBreak10Request"/>
      <output message="tns:SetBreak10Response"/>
    </operation>
    <operation name="GetDTR">
      <input message="tns:GetDTR11Request"/>
      <output message="tns:GetDTR11Response"/>
    </operation>
    <operation name="GetRTS">
      <input message="tns:GetRTS12Request"/>
      <output message="tns:GetRTS12Response"/>
    </operation>
    <operation name="SetOpen">
      <input message="tns:SetOpen13Request"/>
      <output message="tns:SetOpen13Response"/>
    </operation>
    <operation name="SetPort">
      <input message="tns:SetPort14Request"/>
      <output message="tns:SetPort14Response"/>
    </operation>
    <operation name="GetOpen">
      <input message="tns:GetOpen15Request"/>
      <output message="tns:GetOpen15Response"/>
    </operation>
    <operation name="GetPort">
      <input message="tns:GetPort16Request"/>
      <output message="tns:GetPort16Response"/>
    </operation>
    <operation name="GetDevices">
      <input message="tns:GetDevices17Request"/>
      <output message="tns:GetDevices17Response"/>
    </operation>
    <operation name="SendText">
      <input message="tns:SendText18Request"/>
      <output message="tns:SendText18Response"/>
    </operation>
  </portType>
  <binding name="IIPSFTDIbinding" type="tns:IIPSFTDI">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetBaudRate">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetBaudRate" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetBaudRate0headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetBaudRate0headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetStopBits">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetStopBits" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetStopBits1headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetStopBits1headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetDataBits">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetDataBits" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetDataBits2headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetDataBits2headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetParity">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetParity" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetParity3headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetParity3headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetBaudRate">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetBaudRate" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetBaudRate4headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetBaudRate4headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetStopBits">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetStopBits" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetStopBits5headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetStopBits5headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetDataBits">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetDataBits" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDataBits6headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDataBits6headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetParity">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetParity" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetParity7headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetParity7headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetDTR">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetDTR" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetDTR8headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetDTR8headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetRTS">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetRTS" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetRTS9headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetRTS9headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetBreak">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetBreak" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetBreak10headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetBreak10headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetDTR">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetDTR" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDTR11headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDTR11headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetRTS">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetRTS" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetRTS12headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetRTS12headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetOpen">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetOpen" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetOpen13headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetOpen13headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetPort">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SetPort" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetPort14headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SetPort14headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetOpen">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetOpen" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetOpen15headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetOpen15headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetPort">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetPort" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetPort16headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetPort16headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetDevices">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#GetDevices" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDevices17headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:GetDevices17headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SendText">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSFTDI#SendText" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SendText18headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSFTDI"/>
        <soap:header use="encoded" message="tns:SendText18headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
  </binding>
  <service name="IIPSFTDIservice">
    <port name="IIPSFTDIPort" binding="tns:IIPSFTDIbinding">
      <soap:address location="http://localhost:3773/soap/IIPSFTDI"/>
    </port>
  </service>
</definitions>

