projects/hm-plugins/ips/src/main/wsdl/IIPSServerSocket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IIPSServerSocketservice" targetNamespace="http://localhost/" xmlns:tns="http://localhost/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:UIPSModuleTypes">
  <types>
    <xs:schema targetNamespace="urn:UIPSModuleTypes" xmlns="urn:UIPSModuleTypes">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xs:import namespace="http://schemas.xmlsoap.org/soap/"/>
      <xs:complexType name="TIDHeader">
        <xs:sequence>
          <xs:element name="ID" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="SetOpen0Request">
    <part name="Open" type="xs:boolean"/>
  </message>
  <message name="SetOpen0Response"/>
  <message name="SetOpen0headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetOpen0headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetPort1Request">
    <part name="Port" type="xs:int"/>
  </message>
  <message name="SetPort1Response"/>
  <message name="SetPort1headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetPort1headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetLimit2Request">
    <part name="Limit" type="xs:int"/>
  </message>
  <message name="SetLimit2Response"/>
  <message name="SetLimit2headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SetLimit2headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetOpen3Request"/>
  <message name="GetOpen3Response">
    <part name="return" type="xs:boolean"/>
  </message>
  <message name="GetOpen3headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetOpen3headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetPort4Request"/>
  <message name="GetPort4Response">
    <part name="return" type="xs:int"/>
  </message>
  <message name="GetPort4headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetPort4headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetLimit5Request"/>
  <message name="GetLimit5Response">
    <part name="return" type="xs:int"/>
  </message>
  <message name="GetLimit5headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="GetLimit5headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SendText6Request">
    <part name="Text" type="xs:string"/>
  </message>
  <message name="SendText6Response"/>
  <message name="SendText6headerRequest">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <message name="SendText6headerResponse">
    <part name="TIDHeader" type="ns1:TIDHeader"/>
  </message>
  <portType name="IIPSServerSocket">
    <operation name="SetOpen">
      <input message="tns:SetOpen0Request"/>
      <output message="tns:SetOpen0Response"/>
    </operation>
    <operation name="SetPort">
      <input message="tns:SetPort1Request"/>
      <output message="tns:SetPort1Response"/>
    </operation>
    <operation name="SetLimit">
      <input message="tns:SetLimit2Request"/>
      <output message="tns:SetLimit2Response"/>
    </operation>
    <operation name="GetOpen">
      <input message="tns:GetOpen3Request"/>
      <output message="tns:GetOpen3Response"/>
    </operation>
    <operation name="GetPort">
      <input message="tns:GetPort4Request"/>
      <output message="tns:GetPort4Response"/>
    </operation>
    <operation name="GetLimit">
      <input message="tns:GetLimit5Request"/>
      <output message="tns:GetLimit5Response"/>
    </operation>
    <operation name="SendText">
      <input message="tns:SendText6Request"/>
      <output message="tns:SendText6Response"/>
    </operation>
  </portType>
  <binding name="IIPSServerSocketbinding" type="tns:IIPSServerSocket">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetOpen">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#SetOpen" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetOpen0headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetOpen0headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetPort">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#SetPort" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetPort1headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetPort1headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SetLimit">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#SetLimit" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetLimit2headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SetLimit2headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetOpen">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#GetOpen" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetOpen3headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetOpen3headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetPort">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#GetPort" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetPort4headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetPort4headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="GetLimit">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#GetLimit" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetLimit5headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:GetLimit5headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
    <operation name="SendText">
      <soap:operation soapAction="urn:UIPSModuleTypes-IIPSServerSocket#SendText" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SendText6headerRequest" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes-IIPSServerSocket"/>
        <soap:header use="encoded" message="tns:SendText6headerResponse" part="TIDHeader" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:UIPSModuleTypes"/>
      </output>
    </operation>
  </binding>
  <service name="IIPSServerSocketservice">
    <port name="IIPSServerSocketPort" binding="tns:IIPSServerSocketbinding">
      <soap:address location="http://localhost:3773/soap/IIPSServerSocket"/>
    </port>
  </service>
</definitions>

